@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+CA:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg,rgba(22, 22, 19, 1) 0%, rgba(64, 42, 18, 1) 100%);
    justify-content: space-between;
    padding: 10px;
    padding-left: 4%;
    
}

.links{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    display: flex;
    font-weight: 350;
    flex-direction: row;
    gap: 45px;    
    padding-right: 80px;

}

.logo{
    height: 40px;
    width: 100px;
    
}

nav a{
    color: #E5DBD9;
    text-decoration: none;
    position: relative;
}

.Title{
    display: flex;
    flex-direction: row-reverse;
    background-color: #E5DBD9;
    justify-content:space-between ;
    
    align-content: center;
    
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{ opacity: 1;}
}

.muie{
   height: 980px;
   width:  850px;
   opacity: 1;
   animation: fadeIn 2.5s ease-in-out;
}

.p_title{
    padding: 190px;
    padding-right: 150px;
    
    
}

.p1{
    font-family: "Smooch Sans", sans-serif;
    font-size: 60px;
    color: #161613;
}
.p2{
    font-family: "Playwrite CA", cursive;
    color: #505045;
}
.botao{
    width: 280px;
    height: 70px;
    margin: 40px;
    font-family: "Smooch Sans", sans-serif;
    margin-left: 0px;
    border: 6px;
    border-color: #161613;
    color: #E5DBD9;
    font-size: 40px;
    border-radius: 20px;
    background-color: #552910; 
    position: relative;
    overflow: hidden;

}

.Pe{
    background: linear-gradient(90deg,rgba(22, 22, 19, 1) 0%, rgba(64, 42, 18, 1) 100%);
}

.rodape{
    display: flex;
    padding: 5px;
    color: #E5DBD9;
    font-family: "Playwrite CA", cursive;
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 0px;
    justify-content: center;
}

.contatos{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #E5DBD9;
    font-family: "Roboto Condensed", sans-serif;
}
.instaF{
    height: 30px;
    width: 30px;
}
.emailF{
    height: 22px;
    width: 27px;
}
.insta_F{
    align-items: center;
    display: flex;
}
.ctt_F{
    align-items: center;
    display: flex;
}

nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #E5DBD9;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

.botao span{
    position: relative;
}

.botao span a{
    color: #E5DBD9;
}

.botao::before{
    content: '';
    background-color: #805532;
    width: 0px;
    height: 0px;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
}

.botao:hover::before{
    width: 1000px;
    height: 1000px;
}

